{% extends 'home/base.html' %}
{% load static %}
{% block title %}Forget Password{% endblock %}

{% block body %}

<section class="page-top page-header-7">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs-wrap text-center">
                    <ul class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
                        <li class="home" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><a
                                itemprop="item" href="https://www.portotheme.com/wordpress/porto/gutenberg-shop4"
                                title="Go to Home Page"><span itemprop="name">Home</span></a>
                            <meta itemprop="position" content="1" /><i class="delimiter delimiter-2"></i>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><a
                                itemprop="item" href="{% url 'index' %}"><span itemprop="name">Home</span></a>
                            <meta itemprop="position" content="2" /><i class="delimiter delimiter-2"></i>
                        </li>
                        <li>Enter New Password</li>
                    </ul>
                </div>
                <div class="text-center">
                    <h1 class="page-title">Enter New Password</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="main" class="column1 boxed"><!-- main -->

    <div class="container">
        <div class="row main-content-wrap">

            <!-- main content -->
            <div class="main-content col-lg-12">


                <div id="content" role="main">

                    <article class="post-210 page type-page status-publish hentry">

                        <h2 class="entry-title" style="display: none;">My Account</h2><span class="vcard"
                            style="display: none;"><span class="fn"><a href="../author/porto_admin/index.html"
                                    title="Posts by Joe Doe" rel="author">Joe Doe</a></span></span><span class="updated"
                            style="display:none">2016-06-20T09:22:56+00:00</span>
                        <div class="page-content">
                            <div class="woocommerce">
                                <div class="col-md-6 mx-auto mb-4">
                                    <div class="align-left ">
                                        <div class="box-content">
                                            <div class="woocommerce-notices-wrapper"></div>
                                            <form class="woocommerce-form woocommerce-form-login login " method="post">
                                                {% csrf_token %}
                                                    
                                                
                                                <p
                                                    class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                    <label class="mb-1 font-weight-medium" for="username">Enter your new password&nbsp;<span class="required">*</span></label>
                                                    <input type="password"
                                                        class="woocommerce-Input woocommerce-Input--text input-text line-height-xl"
                                                        name="pass" id="username" autocomplete="username"
                                                        value="" />
                                                </p>

                                                <p
                                                    class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                    <label class="mb-1 font-weight-medium" for="username">Confirm password&nbsp;<span class="required">*</span></label>
                                                    <input type="password"
                                                        class="woocommerce-Input woocommerce-Input--text input-text line-height-xl"
                                                        name="cpass" id="username" autocomplete="username"
                                                        value="" />
                                                </p>
                                            

                                                <p class="status" style="display: none;"></p>

                                                <div
                                                    class="woocommerce-LostPassword lost_password d-flex flex-column flex-sm-row justify-content-between mb-4">
                                                    <div class="porto-checkbox my-2 my-sm-0">
                                                        <input type="checkbox" name="rememberme" id="rememberme"
                                                            value="forever"
                                                            class="porto-control-input woocommerce-form__input woocommerce-form__input-checkbox">
                                                        
                                                    </div>
                                                    
                                                </div>
                                
                                                <p class="form-row mb-3 mb-lg-0 pb-1 pb-lg-0">
                                                    <input type="hidden" id="woocommerce-login-nonce"
                                                        name="woocommerce-login-nonce" value="309290ea66" /><input
                                                        type="hidden" name="_wp_http_referer"
                                                        value="/wordpress/porto/gutenberg-shop4/my-account/" />
                                                    <button type="submit"
                                                        class="woocommerce-Button button login-btn btn-v-dark py-3 text-md w-100"
                                                        name="login" value="Login">Reset</button>
                                                </p>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                </div>



            </div><!-- end main content -->

            <div class="sidebar-overlay"></div>

        </div>
    </div>



</div><!-- end main -->

{% endblock %}