<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
body, html {
  height: 100%;
  margin: 0;
}

.container {
  position: relative;
  height: 100vh; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

img {
  /* Additional styles for image size, if needed */
  max-width: 100%;
  height: auto;
}

h1 {
  /* Additional styles for heading */
}


    </style>
</head>
<body>

<div class="container">
<br>
<br>
<br>
    <img  src="s.png" alt="">
    <h1>Thank you for your purchase!</h1>
    <h2>Your order is #000000003</h2>
</div>
</body>
</html>