{% extends 'home/base.html' %}
{% load static %}
{% block title %} View Full Cart {% endblock %}


{% block body %}
<style>
    .gradient-custom {
        /* fallback for old browsers */
        background: #1900ff;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to top left, rgb(5, 5, 5), rgba(246, 243, 255, 1));

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to top left, rgb(0,136,204), rgb(180, 166, 224))
    }
</style>
<section class="h-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-10 col-xl-8">
                <div class="card" style="border-radius: 10px;">
                    <div class="card-header px-4 py-5">
                        <h5 class="text-muted mb-0">Thanks for your Order, <span style="color: #0088cc;">{{show_uname}}</span>!
                        </h5>
                    </div>
                    <div class="text-center">
                        <lord-icon src="https://cdn.lordicon.com/uetqnvvg.json" trigger="loop"
                            colors="primary:#405189,secondary:#0ab39c" style="width:80px;height:80px"></lord-icon>
                        <h5 class="fs-16 mt-2">MPI Mart Logistics</h5>
                        <p class="text-muted mb-0">Order Number: #{{id}}</p>
                        <!-- <p class="text-muted mb-0">Payment Mode : Debit Card</p> -->
                    </div>
                    <div class="card-body p-4">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="lead fw-normal mb-0" style="color: #0088cc;">Receipt</p>
                            <p class="small text-muted mb-0">Receipt Voucher : 1KAU9-84UIL</p>
                        </div>
                        <div class="card shadow-0 border mb-4">
                            <div class="card-body">
                                {% for i in show_order_details %}
                                <div class="row">
                                    <div>
                                    </div>
                                    <!-- <div class="col-md-2">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/13.webp"
                                            class="img-fluid" alt="Phone">
                                    </div> -->
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                        <p style="font-weight: bold;" class="text-muted mb-0">{{i.item}}</p>
                                    </div>
                                    <!-- <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                        <p class="text-muted mb-0 small">White</p>
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                        <p class="text-muted mb-0 small">Capacity: 64GB</p>
                                    </div> -->
                                    <br>
                                    <br>
                                    
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                        <p class="text-muted mb-0 small">Qty: {{i.qyt}}</p>
                                    </div>
                                    <br>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                        <p class="text-muted mb-0 small">৳ {{i.total_price}}</p>
                                    </div>
                                </div>
                                <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                                {% endfor %}
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-2">
                                        <p class="text-muted mb-0 small">Track Order</p>
                                    <br>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="progress" style="height: 6px; border-radius: 16px;">
                                            <div class="progress-bar" role="progressbar"
                                                style="width: 15%; border-radius: 16px; background-color: #0088cc;"
                                                aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="d-flex justify-content-around mb-1">
                                            <p class="text-muted mt-1 mb-0 small ms-xl-5">Pending</p>
                                            <p class="text-muted mt-1 mb-0 small ms-xl-5">Processing</p>
                                            <!-- <p class="text-muted mt-1 mb-0 small ms-xl-5">Out for delivary</p> -->
                                            <p class="text-muted mt-1 mb-0 small ms-xl-5">Completed</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% for i in show_order_total %}
                        <div class="d-flex justify-content-between pt-2">
                            <p class="fw-bold mb-0">Order Details</p>
                            <!-- <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span> $898.00</p> -->
                        </div>

                        <div class="d-flex justify-content-between pt-2">
                            <p class="text-muted mb-0">Invoice Number : {{id}}</p>
                            <p class="text-muted mb-0"><span class="fw-bold me-4">Discount</span> 0</p>
                        </div>

                        <div class="d-flex justify-content-between">
                            <p class="text-muted mb-0">Invoice Date : {{i.order_at}}</p>
                            <!-- <p class="text-muted mb-0"><span class="fw-bold me-4">GST 18%</span> 123</p> -->
                        </div>

                        <div class="d-flex justify-content-between mb-5">
                            <p class="text-muted mb-0">Recepits Voucher : 18KU-62IIK</p>
                            <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Charges</span>৳ 100</p>
                        </div>
                    </div>
                    <div class="card-footer border-0 px-4 py-5"
                        style="background-color: #0088cc; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                        <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total
                            paid: <span class="h2 mb-0 ms-2">৳ {{i.total}}</span></h5>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'order_details/lord-icon-2.1.0.js'%}"></script>




{% endblock %}