{% extends 'home/base.html' %}
{% load static %}
{% block title %}About-us{% endblock %}

{% block body %}


<div class="banner-container my-banner">
	<div id="banner-wrapper" class="">
		<div class="porto-block" data-id="1002">
			<section class="vc_section porto-section porto-inner-container"
				style="background-image: url('{% static 'shop2_about_us_banner.jpg' %}');background-repeat:no-repeat;background-position:center center;background-size:cover;">
				<div class="container">
					<h4 class="porto-heading mb-1 mt-4" style="font-size:18px;">ABOUT US</h4>

					<h2 class="porto-heading mb-4" style="font-size:36px;line-height:1;">OUR COMPANY</h2>

					<a aria-label="button" class="btn btn-md btn-dark btn-modern mb-4" href="{% url 'contact_us' %}"><span>CONTACT</span></a>
				</div>
			</section>
		</div>
	</div>
</div>
<section class="page-top page-header-6">
	<div class="container hide-title">
		<div class="row">
			<div class="col-lg-12 clearfix">
				<div class="pt-right d-none">
					<h1 class="page-title">About Us</h1>
				</div>
				<div class="breadcrumbs-wrap pt-left">
					<ul class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
						<li class="home" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><a
								itemprop="item" href="{% url 'index' %}"
								title="Go to Home Page"><span itemprop="name">Home</span></a>
							<meta itemprop="position" content="1" /><i class="delimiter delimiter-2"></i>
						</li>
						<li>About Us</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<div id="main" class="column1 wide clearfix"><!-- main -->

	<div class="container-fluid">
		<div class="row main-content-wrap">

			<!-- main content -->
			<div class="main-content col-lg-12">


				<div id="content" role="main">

					<article class="post-55 page type-page status-publish hentry">

						<h2 class="entry-title" style="display: none;">About Us</h2><span class="vcard"
							style="display: none;"><span class="fn"><a href="../author/porto_admin/index.html"
									title="Posts by Joe Doe" rel="author">Joe Doe</a></span></span><span class="updated"
							style="display:none">2022-09-07T19:49:10+00:00</span>
						<div class="page-content">
							<section class="vc_section porto-section porto-inner-container">
								<div class="container">
									<h2 class="porto-heading mb-3" style="font-size:19px;">OUR STORY</h2>


									<p>
MPI Mart began its e-commerce journey with a vision to redefine convenience in shopping. Founded by a team passionate about revolutionizing the retail experience, MPI Mart embarked on its digital venture to offer customers a seamless, efficient, and personalized way to shop for their everyday needs.</p>
									<p>The inception of MPI Mart's e-commerce platform was fueled by a commitment to cater to diverse customer preferences and evolving shopping habits. With a focus on innovation and customer-centricity, the platform was meticulously crafted to deliver a comprehensive range of products, from daily essentials to specialty items, right to customers' doorsteps.</p>
									<h3 style="color: #21293c; font-size: 18px; line-height: 27px; font-weight: 400;">“
										From the outset, MPI Mart prioritized reliability, ensuring that each product showcased on its digital shelves underwent stringent quality checks. This commitment to quality, coupled with an intuitive user interface and a robust delivery network, swiftly garnered trust and loyalty among customers. ”</h3>

								</div>
							</section>

							<section class="vc_section porto-section porto-inner-container pb-4"
								style="background-color:#f6f7f9;">
								<div class="container">

									<div
										class="wp-block-columns mb-1 justify-content-center is-layout-flex wp-container-11">
										<div class="wp-block-columns is-layout-flex wp-container-4">
											<div class="wp-block-column is-layout-flow">
												<div class="porto-sicon-box style_1 top-icon">
													<div class="porto-sicon-top">
														<div class="porto-just-icon-wrapper porto-icon none"
															style="color:#0088cc;font-size:55px;"><i
																class="porto-icon-shipped"></i></div>
													</div>
													<div class="porto-sicon-header">
														<h3 class="porto-sicon-title"
															style="font-weight:600;font-size:18px;line-height:20px;">
															ফ্রি শিপিং</h3>
													</div> <!-- header -->
													<div class="porto-sicon-description"
														style="font-size:15px;line-height:27px;">১০০০৳ টাকার উপর অর্ডার করলেই পাচ্ছেন ২৪ ঘন্টার ভেতর ফ্রি ডেলিভারী !</div> <!-- description -->
												</div><!-- porto-sicon-box -->
											</div>



											<div class="wp-block-column is-layout-flow">
												<div class="porto-sicon-box style_1 top-icon">
													<div class="porto-sicon-top">
														<div class="porto-just-icon-wrapper porto-icon none"
															style="color:#0088cc;font-size:55px;"><i
																class="porto-icon-us-dollar"></i></div>
													</div>
													<div class="porto-sicon-header">
														<h3 class="porto-sicon-title"
															style="font-weight:600;font-size:18px;line-height:20px;">
															১০০% মানি ব্যাক গ্যারান্টি </h3> 
													</div> <!-- header -->
													<div class="porto-sicon-description"
														style="font-size:15px;line-height:27px;">প্রোডাক্ট রিটার্ন করে পাবেন শতভাগ মানি ব্যাক !
														 শর্ত সাপেক্ষে*</div> <!-- description -->
												</div><!-- porto-sicon-box -->
											</div>



											<div class="wp-block-column is-layout-flow">
												<div class="porto-sicon-box style_1 top-icon">
													<div class="porto-sicon-top">
														<div class="porto-just-icon-wrapper porto-icon none"
															style="color:#0088cc;font-size:55px;"><i
																class="porto-icon-online-support"></i></div>
													</div>
													<div class="porto-sicon-header">
														<h3 class="porto-sicon-title"
															style="font-weight:600;font-size:18px;line-height:20px;">
															অনলাইন সাপোর্ট 24/7</h3>
													</div> <!-- header -->
													<div class="porto-sicon-description"
														style="font-size:15px;line-height:27px;">যেকোনো সমস্যা সমাধানে আমাদের টিম ২৪/৭ সমাধান দিতে প্রস্তুত</div> <!-- description -->
												</div><!-- porto-sicon-box -->
											</div>
										</div>
									</div>

								</div>
							</section>

							

							
						</div>
					</article>

				</div>



			</div><!-- end main content -->

			<div class="sidebar-overlay"></div>

		</div>
	</div>



</div><!-- end main -->
{% endblock %}